
header {
	display: block;
	white-space: nowrap;

}

.logo {
	width: 15%;
	
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: inline-block;
	
}

.header_info {
	text-align: right;
	position: relative;
}
span {
	display: inline-block;
	float: right;
}

h1 {
	font-size: 5em;
	margin-bottom: 0px;
	padding-top: 0px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	text-align: right;
}

h2 {
	font-size: 2em;
	margin-top: 0px;

	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 3em;
}

.caption {
	font-family: 'Lato', sans-serif;
}
.computer {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#score {
	
}
#pixel {
	
}
#colorGame {
	

}

#content {
	
	align-content: space-between;

}

.images {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
}
